header.flex{
    justify-content: space-between;
  
    width: 100%;
    margin: 0 auto;

    .container{
        padding: 20px
    }
    .container:first-child{
        width: 10%;

        .logo{
            h2{
                color:red;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
        }
   
    }
    .container:last-child{
        width: 60%;
       .search{
        display: inline-block;
        position: relative; 
        margin:0 auto;
  
        .btn_search{
            position: absolute;
            top:7px;
            right: 4px;
            font-size: 20px;
            cursor: pointer;
            border: none;
        }
        input{
          font-size: 20px;
           padding: 5px;
           padding-right: 30px;
           border: none;
            background-color: #F8F8F8;
           border-radius: 8px;
        }
    }
    }



    @media (max-width: 600px){
        .container{
            padding: 20px 0;
        }
        .container:first-child{
            width: 25%;
       
        }
        .container:last-child{
            width: 75%;
    }
}

}
